{% extends 'base.html.twig' %}
{% set current_page = 'shop' %}

{% block title %}Cognac Guy Bonnaud{% endblock %}

{% block body %}

    <section class="container-fluid pt-100 pb-60 bg-light ecommerce_20">
        <div class="container d-flex">
            <h2 class="row mb-55 small text-center text-lg-left fixed">
                Shop
            </h2>
            <div class="ml-50 mb-50 f-18 medium text-center text-lg-left d-flex categories">
                <div class="d-inline-block d-lg-block">
                    <a href="#" class="link px-15 color-heading lh-40 radius10 category">
                        All
                    </a>
                </div>
                <div class="d-inline-block d-lg-block">
                    <a href="#" class="link px-15 color-heading lh-40 radius10 category">
                        Cognacs
                    </a>
                </div>
                <div class="d-inline-block d-lg-block">
                    <a href="#" class="link px-15 color-heading lh-40 radius10 category">
                        Pineaux
                    </a>
                </div>
                <div class="d-inline-block d-lg-block">
                    <a href="#" class="link px-15 color-heading lh-40 radius10 category">
                        Coffrets
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-6">
                        <!-- Card -->
                        <div class="card mb-70">
                            <div class="view overlay text-center h-450">
                                <span class="helper"></span>
                                <img class="img-fluid w-300 rounded align-middle" src="{{ asset("uploads/images/"~product.image) }}"
                                     alt="Sample">
                                <a href="#">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="f-32">{{ product.name }}</h5>
                                <p class="small text-muted text-uppercase mb-2">{{ product.category.name }}</p>
                                <ul class="rating d-flex list-unstyled justify-content-center">
                                    <li>
                                        <i class="fas fa-star fa-sm action-1"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm action-1"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm action-1"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm action-1"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm action-1"></i>
                                    </li>
                                </ul>
                                <h6 class="mb-3">
                                    <span class="action-3 f-24 mr-1">{{ product.price|number_format(2,',') }}€</span>
                                </h6>
                                <button type="button" class="btn btn-sm mr-20 mb-2 action-2">
                                    <i class="fas fa-shopping-cart pr-2"></i>Ajouter au panier
                                </button>
                                <button type="button" class="btn btn-sm mb-2 color-main action-gray">
                                    <i class="fas fa-info-circle pr-2"></i>Details
                                </button>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </section>

{% endblock %}

