{% extends "base.html.twig" %}

{% block body %}

<h1>DONNER VOTRE AVIS</h1>
    {# form_row(formproduct.name)#}

{#    {{ form_start(formReview) }}#}

{#    {{ form_widget(formReview) }}#}

{#    <button class="btn action-2 md radius30">Enregister</button>#}

{#    {{ form_end(formReview) }}#}
    {{ form(formReview) }}

{% endblock %}
