<footer class="pt-75 pb-65 bg-light text-center footer_1">
    <div class="container-fluid px-5">
        <div class="row justify-content-between align-items-center lh-40 links">
            <div class="col-lg-3 col-sm-6 order-1 order-lg-0">
                <a href="#" class="link mr-15 color-main">
                    A Propos
                </a>
                <a href="#" class="link mx-15 color-main">
                    Policy
                </a>
                <a href="#" class="link mx-15 color-main">
                    Terms
                </a>
            </div>
            <div class="mb-10 mb-lg-0 col-lg-auto order-0">
                <a href="#" class="link color-main f-20 bold megrim ">
                    <i class="fal fa-wine-glass-alt action-2"></i> Cognac Guy Bonnaud
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 order-2 order-lg-0">
                <a href="#" class="link mr-15 color-main">
                    Contacts
                </a>
                <a href="#" class="mx-15 link color-main">
                    <i class="fab fa-twitter">
                    </i>
                </a>
                <a href="#" class="mx-15 link color-main">
                    <i class="fab fa-facebook-square">
                    </i>
                </a>
                <a href="#" class="ml-15 link color-main">
                    <i class="fab fa-google-plus-g">
                    </i>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mt-10 col-xl-4 col-lg-5 col-md-6 col-sm-8">
                <div class="color-heading text-adaptive">
                    Be sure to take a look at our Terms of Use
                    <br>and Privacy Policy
                </div>
            </div>
        </div>
    </div>
</footer>