{% extends 'base.html.twig' %}
{% set current_page = "profil" %}
{% block title %}
    Mon profil
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4 border-action-1">
            <ul>
                <li><a href="#">Mes informations</a></li>
                <li><a href="#">Mes adresses</a></li>
                <li><a href="#">Mes commandes</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

